<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name='connection.driver_class'>com.mysql.jdbc.Driver</property>
		<property name='connection.url'>jdbc:mysql://localhost:3306/peleusi</property>
		<property name='connection.username'>root</property>
		<property name='connection.password'>peleusi</property>
		<property name="hibernate.current_session_context_class">thread</property>


		<!-- JDBC connection pool (use the built-in) -->
		<property name='connection.pool_size'>1</property>

		<!-- SQL dialect -->
		<property name='dialect'>org.hibernate.dialect.MySQLDialect</property>

		<!-- Echo all executed SQL to stdout -->
		<property name='show_sql'>false</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Drop and re-create the database schema on startup -->
		<property name="hbm2ddl.auto">update</property>

		<!-- Automtic validation -->
		<property name="javax.persistence.validation.mode">none</property>

		<!-- Mapping files -->
		<mapping class='ec.peleusi.models.entities.Ciudad' />
		<mapping class='ec.peleusi.models.entities.UnidadMedida' />
		<mapping class='ec.peleusi.models.entities.CategoriaProducto' />
		<mapping class='ec.peleusi.models.entities.TipoGastoDeducible' />
		<mapping class='ec.peleusi.models.entities.TarifaIva' />
		<mapping class='ec.peleusi.models.entities.TarifaIce' />
		<mapping class='ec.peleusi.models.entities.Producto' />
		<mapping class='ec.peleusi.models.entities.ProductoPrecio' />
		<mapping class='ec.peleusi.models.entities.TipoIdentificacion' />
		<mapping class='ec.peleusi.models.entities.TipoPrecio' />
		<mapping class='ec.peleusi.models.entities.Empresa' />
		<mapping class='ec.peleusi.models.entities.Sucursal' />
		<mapping class='ec.peleusi.models.entities.TipoCalificacionCliente' />
		<mapping class='ec.peleusi.models.entities.TipoRetencion' />
		<mapping class='ec.peleusi.models.entities.TipoPago' />
		<mapping class='ec.peleusi.models.entities.Usuario' />
		<mapping class='ec.peleusi.models.entities.Compra' />
		<mapping class='ec.peleusi.models.entities.CompraDetalle' />
		<mapping class='ec.peleusi.models.entities.Seteo' />
		<mapping class='ec.peleusi.models.entities.Cliente' />
		<mapping class='ec.peleusi.models.entities.Proveedor' />
		<mapping class='ec.peleusi.models.entities.DireccionProveedor' />
		<mapping class='ec.peleusi.models.entities.Caja' />
		<mapping class='ec.peleusi.models.entities.CompraRetencion' />
		<mapping class='ec.peleusi.models.entities.CompraTipoPago' />
		<mapping class='ec.peleusi.models.entities.Kardex' />


	</session-factory>
</hibernate-configuration>
